<footer>
    <div class="footer-containt">
        <p>Les P'ti sondages</p>
        <p>Erick Poix - Arthur Salengro - LP DIM - Avril-Mai 2021</p>
        <a href="https://github.com/pepito5962/poll">Lien git</a>
        <a href="#">Mentions légales</a>
        <a href="#">Condition d'utilisation</a> 
    </div>
</footer>