<footer>
    <div class="footer-containt">
        <p>Les P'ti sondages</p>
        <p>Erick Poix - L3 DIM - Avril-Mai 2021</p>
        <a href="https://github.com/pepito5962/poll">Lien git</a>
    </div>
</footer>